/*  SETTING GLOBALE PAGINA  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*  /SETTING GLOBALE PAGINA  */

/*  CLASSI DI UTILITY  */
.justify {
    justify-content: center;
}

.align {
    align-items: center;
}
/*  /CLASSI DI UTILITY  */

/*  STYLING CORPO PRINCIPALE  */
.calculator {
    background-color: red;
    width: 300px;
    height: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.d-flex {
    display: flex;
    width: 100%;
    height: 700px;
}

.name {
    background-color: blue;
    width: 100%;
    height: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.screen {
    background-color: black;
    width: 100%;
    height: 20%;
    font-family: 'Seven Segment', sans-serif;
    color: rgb(0, 255, 0);
    justify-content: end;
    padding-right: 20px;
    font-size: 40px;
}

/*  STYLING SEZIONE BRAND  */
.brand {
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-family: "Saira Semi Condensed", sans-serif;
}


